<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    {% extends 'infoSys/header.html' %}
    {% load static %}
</head>
{% block content %}
    <body>
    <div class="login" style="background-image: url({% static 'pic/index2.jpg' %}); ">
        <div class="bg">
            <label class="index_name">运维信息管理平台</label>
            <div class="center" style="opacity: unset">
                <form action="{% url 'infoSys:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group {% if login_form.errors.username %} has-error {% endif %}">
                        <label style="float: none;">用户名
                            <input type="text" name="username" class="form-control input_shadow has-error"
                                   value="{{ login_form.username.value | default_if_none:'' }}">
                        </label>
                    </div>
                    <div class="form-group {% if login_form.errors.pwd %} has-error {% endif %}">
                        <label>密码
                            <input type="password" name="pwd" class="form-control input_shadow"
                                   value="{{ login_form.pwd.value | default_if_none:'' }}">
                        </label>
                    </div>
                    <input type="submit" value="登  录" class="btn btn-danger input_shadow"
                           style="width: 200px; margin-top: 20px">
                    {% if login_form.errors or msg %}
                        <div class="alert alert-danger alert-dismissible error-pos" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>错误!</strong>
                            {% for key,error in login_form.errors.items %}
                                {{ error }}
                            {% endfor %}
                            {{ msg }}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>
