{% extends 'infoSys/index.html' %}
{% block context %}
    <div class="btn-bg">
        <div class="btn-bg-2">
            <a type="button" class="btn btn-success btn_a" data-toggle="modal" data-target="#myModal"
               href="{% url 'infoSys:pla_info_edit' 0 %}">添 加</a>
        </div>
        <div class="col-lg-2 btn-ser">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <tr>
            <th>平台名称&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>平台类型&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>平台地址&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>管理平台地址&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>前置机地址&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>AppEui&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>主站安装路径&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>前置机安装路径&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>更新时间&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>备注&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>所属服务器&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>编辑&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>删除</th>
        </tr>
        {% for pla in pla_info %}
            <tr>
                <th>{{ pla.pla_name }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.pla_type }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.pla_adds }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.manage_adds }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.forward_adds }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.appeui }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.pla_path }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.forward_path }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.pla_time }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.remake }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ pla.serInfo }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>
                    <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"
                       href="{% url 'infoSys:pla_info_edit' pla.pla_id %}">编 辑</a>
                </th>
                <th>
                    <a type="button" class="btn btn-danger" href="{% url 'infoSys:pla_info_del' pla.pla_id %}">删 除</a>
                </th>
            </tr>
        {% endfor %}
    </table>

    <!-- AddPla-Modal -->
    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}
