{% extends 'infoSys/index.html' %}
{% block context %}
    {#    <a href="{% url 'infoSys:user_info_edit' 0 %}">添加用户</a>#}
    <table class="table table-hover">
        <tr>
            <th>用户ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>用户名&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>登陆名&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>电话号码&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>登陆密码&nbsp;&nbsp;&nbsp;&nbsp;</th>
            {#            <th>编辑&nbsp;&nbsp;&nbsp;&nbsp;</th>#}
            {#            <th>删除</th>#}
        </tr>
        {% for user in user_info %}
            <tr>
                <th>{{ user.user_id }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ user.user_name }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ user.user_nickname }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ user.user_phone }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ user.user_pwd }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                {#                <th><a href="{% url 'infoSys:user_info_edit' user.user_id %}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;</th>#}
                {#                <th><a href="{% url 'infoSys:user_info_del' user.user_id %}">删除</a></th>#}
            </tr>
        {% endfor %}
    </table>
    {#    <a href="{% url 'infoSys:index' %}">返回首页</a>#}
{% endblock %}

