{% extends 'infoSys/index.html' %}
{% block context %}
    <div class="btn-bg">
        <div class="btn-bg-2">
            <a type="button" class="btn btn-success btn_a" data-toggle="modal" data-target="#myModal"
               href="{% url 'infoSys:ver_info_edit' 0 %}">添 加</a>
        </div>
        <div class="col-lg-2 btn-ser">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <tr>
            <th>版本号&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>修改内容&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>更新时间&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>版本创建人&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>所属平台&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>编辑&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>删除</th>
        </tr>
        {% for ver in ver_info %}
            <tr>
                <th>{{ ver.ver_no }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ ver.ver_upd }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ ver.ver_time }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ ver.ver_user }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>{{ ver.platform }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>
                    <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"
                       href="{% url 'infoSys:ver_info_edit' ver.ver_id %}">编辑</a>
                </th>
                <th>
                    <a type="button" class="btn btn-danger" href="{% url 'infoSys:ver_info_del' ver.ver_id %}">删除</a>
                </th>
            </tr>
        {% endfor %}
    </table>

    <!-- AddVer-Modal -->
    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content"></div><!--modal-content-->
        </div>
    </div>
{% endblock %}
